<div class="field linkedin_profile">
    <label class="label" for="linkedin_profile">
        <span><?= $block->escapeHtml(__('linkedin_profile Account')) ?></span>
    </label>
    <div class="control">
        <input type="text" name="linkedin_profile" id="linkedin_profile"
               value=""
               title="<?= $block->escapeHtmlAttr(__('linkedin_profile Account')) ?>"
               class="input-text validate-length maximum-length-250"
               data-validate="{'validate-url':true}">
        <?= $block->escapeHtmlAttr($block->getAttributeValidationClass('linkedin_profile')) ?>
            <?php if ($block->getAttributeValidationClass('linkedin_profile') == 'required-entry')
                echo ' data-validate="{required:true}"' ?>
    </div>
</div>
