<?php
$linkedin_profile = $block->getCustomer()->getCustomAttribute('linkedin_profile');
$customer_linkedin_profile = $linkedin_profile ? $linkedin_profile->getValue() : null;
?>

<div class="field linkedin_profile">
    <label class="label" for="linkedin_profile">
        <span><?= $block->escapeHtml(__('linkedin_profile Account(for edit)')) ?></span>
    </label>
    <div class="control">
        <input type="text"
               name="linkedin_profile" id="linkedin_profile"
               value="<?= $block->escapeHtmlAttr($customer_linkedin_profile); ?>"
               title="<?= $block->escapeHtmlAttr(__('linkedin_profile')) ?>"
               class="input-text maximum-length-250"
               data-validate="{'validate-url':true}">
    </div>
</div>
