<li id="facebook" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: ''" data-role="title"></div>
    <div id="checkout-step-title
         class="step-content data-role="content">

    <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="opc-continue" type="submit"
                        class="button action continue primary">
                    <span><!-- ko i18n: 'Next=>'--><!-- /ko --></span>
                </button>
            <h4>Enter your facebook account (NOT REQUIRED)</h4>
            </div>
        </div>
    </form>
    </div>
</li>
