<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login"  data-bind="submit:login"
      method="post">
    <fieldset id="customer-account-fieldset" class="fieldset">
        <div class="field required">
            <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
            </div>
        </div>

        <div class="field">
            <label class="label" for="customer-password">
                <span data-bind="i18n: 'Password'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       data-bind="
                                attr: {
                                    placeholder: $t('Password'),
                                }" wootype="password"
                       name="password"
                       id="customer-password"
                       data-validate="{required:true}" autocomplete="off"/>
                <span class="note" data-bind="i18n: 'Sign in to continue.'"></span>
            </div>

        </div>
        <!-- ko foreach: getRegion('additional-login-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="actions-toolbar">
            <input name="context" type="hidden" value="checkout" />
            <div class="primary">
                <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
            </div>
            <div class="secondary">
                <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                    <span data-bind="i18n: 'Forgot Your Password?'"></span>
                </a>
                <a class="action create" data-bind="attr: { href: createNewAccountUrl }">
                    <span data-bind="i18n: 'Create Your Account'"></span>
                </a>
            </div>
        </div>

    </fieldset>
</form>
